<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ecemyilmaz/Desktop/Ecem/yanimda_mobile">
        <classes>
            <class name="runner.RunCucumberTests"/>
        </classes>
    </test>
</suite>